# build artifacts
*.o
*.obj
*~
src/*.tmp
src/depend

# binaries
mfakto
*.elf
*.exe

# automatically copied from source directory
*.cl
!src/*.cl
*.h
!src/*.h
*.ini
!src/*.ini

# device-specific Visual Studio files
*.suo
*.sdf
*.opensdf
*.vcxproj.user

# device-specific Visual Studio folders
.vs/
ipch/
Release/
Debug/
x64/

# device-specific files
*.ckp
*.ckp.bu
results.txt
results.json.txt
worktodo.txt
worktodo.add

# other
.DS_Store
*.log
*.zip